    /*  GENERAL
============*/
    
    body {
        /*El cuerpo del proyecto*/
        font-family: 'Ubuntu', sans-serif;
        /*Tipografia*/
        margin: 0px;
        /*sin margen*/
        text-decoration: none;
        font-size: 13px;
        padding: 0px;
    }
    article{
        text-align: center;
    }
    figure { 
        text-align: center;
    }
    .img {
        height: 250px;
        display: block;
        width: auto;
        margin: 0 auto;
    }
    footer.row {
        margin-top: 30px;
    }
    a {
        text-decoration: none;
    }
    p{
        margin-bottom: 6px;
    }
    /* Encabezado */
    
    header {
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #ffffff;
        background-color: #0036b3;
        /*Color de fondo*/
        /*Altura*/
    }
    
    header>h1 {
        font-size: 4em;
        font-family: 'Alkatra', cursive;
        margin: 0px;
        text-align: center;
    }
    
    header>h2 {
        font-size: 2.0em;
        margin: 0px;
        text-align: center;
    }
    /* Navegación */
    
    nav>ul {
        margin: 0;
        background-color: #fff200;
        text-align: center;
        font-size: 1.3em;
    }
    
    nav>ul>li {
        display: inline-block;
        padding: 20px 20px;
    }
    
    nav>ul>li:hover {
        background-color: #ffffff;
    }
    
    nav>ul>li>a {
        color: #052262;
        text-decoration: none;
    }
    
    h3 {
        text-align: center;
        color: #052262;
        font-size: 1.3em;
    }
    /* Configuracion FLEX-BOX
================ */
   
    /* Cuerpo principal
================ */
    
    .product-grid>article {
        /* Se limita el ancho para que sean igual todos los productos*/
        text-align: center;
        margin: 4px;
        border-radius: 15px !important;
        /*border redondeado de 15 pixeles*/
        border: 1px solid #0b2143;
        /*borde de tamaño 1 pixel, tipo solido, color*/
        padding: 20px 30px;
        /*padding de tamaño arriba abajo 20 pixeles, a los lados 30 pixeles*/
        background-color: #fff;
        /*color de fondo*/
    }
    
    .titulo-de-seccion {   
        padding-top: 20px;
        font-size: 1.5em;
        font-weight: bold;
    }
    
    .titulo {
        font-size: 1.5em;
        font-weight: 600;
    }
    
    .tag {
        background-color: #d7e2fd;
        font-style: italic;
        padding: 4px;
    }
    /* Botones */
    
    button {
        margin-top: 10px;
        background-color: #0036b3;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    /* fomulario */
    
    .titulo-formulario {
        font-size: 1.5em;
        color: #0036b3;
        font-family: 'Alkatra', cursive;
    }
    
    label {
        font-size: 1.5em;
    }
        
    input {
        padding: 12px;
        margin-bottom: 12px;
        border-radius: 10px;
    }
    
    input[type="checkbox"] {
        display: inline-block;
        width: 20px;
    }
    
    fieldset {
        border-radius: 10px;
        border-width: 3px;
    }
    
    legend {
        font-size: 1.5em;
        font-weight: bold;
        color: #052262;
    }
    /* footer */
    
    footer {
        background-color: #fff200;
        color: #052262;
        padding: 20px;
    }
    
    .menu>ul {
        list-style-type: none;
        font-style: italic;
    }
    
    .menu>ul>li {
        padding: 10px;
        margin: 10px;
    }
   
    
    .social-icons img { 
        height: 78px;
    }
    
    footer>section>div {
        width: 33.3%;
    }
    
    #copyright {
        text-align: center;
        font-size: 1.3em;
    }
    .carrito-items{
        text-align: center;
    }
    .carrito-item-cantidad{
        border: none;
    width: 30px;
    padding: 5px;
    text-align: center;
    }
    .carrito-total{
        text-align: center;    margin-top: 20px;
    }
    .contenedor-carro{
        border: 1px solid #666;
        border-radius: 10px;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .header-carro >h3{
        font-size: 1.5em;
        padding-top: 10px;
        font-weight: bold;
    }
    .menu{
        background: #0036b3;
    }